<div class="row header">
    <div class="col">
        PERSONAL MOTIVATOR
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col item">
            <div class="circle image" (click)="imageClick()">
                <i class="fa fa-image"></i>
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="col item">
            <div class="circle text"  (click)="textClick()">
                text
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
</div>
