<div class="row header">
    <div class="col">
        PERSONAL MOTIVATOR
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col images">
            <div class="circle">
                <i class="fa fa-image"></i>
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="col text">
            <div class="circle">
                text
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="col voice">
            <div class="circle">
                <i class="fa fa-microphone"></i>
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
</div>
